body {
  margin: 30;
  padding: 10;
  background-image: url(https://raw.githubusercontent.com/StungByAJellyfish/Change-Calculator/main/american-coins.jpg);
  background-size: cover;
  font-family: sans-serif;
}

.container {
  max-width: 100%;
  margin: 30px auto;
  padding: 30px;
  background-color: #7da97d;
}
